<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    {% block content %}
    <h2>Mis productos</h2>
    <a href="{% url 'anadir_producto' %}">+ Nuevo producto</a>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre_producto }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>
                    <a href="{% url 'editar_producto' producto.id %}">Editar Producto</a>
                    <a href="{% url 'eliminar_producto' producto.id %}" onclick="return confirm('¿Eliminar esta producto?')">Borrar Producto</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay productos registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
    <a class="link" href="{% url 'dashboard' %}">Mi perfil</a>
</body>
</html>